<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Anthony Italiano">
        <meta name="description" content="mobile food locator">
        <meta name="keywords" content="food, truck, location, lunch, mobile, grub">
        
		<title>locATEd</title>

        <script>
            var email;
            var password;

            window.onload=init();

            function init(){
                return;
            };

            function inputValidation(form){
                var input=[];
                email=document.getElementById("email").value;
                input.push(email);
                password=document.getElementById("pass").value;
                input.push(password);


                form.reset();
                var creds={"email":input[0], "password":input[1]};
                login(creds);
                return;
            };

            function auth(){
                window.alert("made it here");
            };

            function login(creds){
                req=new XMLHttpRequest();
                req.open("POST", "http://localhost:3001/login");
                req.addEventListener("load", auth);
                req.setRequestHeader("Content-Type", "application/json");
                req.responseType="json";
                req.send(JSON.stringify(creds));
                return;
            };
        </script>
    </head>
    <body>
        <form if="loginForm">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required><br><br>
            <label for="pass">Password:</label>
            <input type="password" id="pass" name="password" minlength="8" required><br><br>
            <input type="button" value="Login" onclick="inputValidation(this.form);">
        </form>
    </body>
</html>